<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>User List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.customer.firstName}"></td>
                <td th:text="${user.customer.lastName}"></td>
                <td><a th:href="${'/user/show/' + user.id}">View</a> </td>
                <td><a th:href="${'/user/edit/' + user.id}">Edit</a> </td>
                <td><a th:href="${'/user/delete/' + user.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/user/new">New User</a>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>