<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - User Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">

    <h2>User Details</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/user/}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <input type="hidden" th:field="*{customer.id}"/>
            <input type="hidden" th:field="*{customer.version}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">User Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password:</label>
                <div class="col-sm-10">
                    <input type="password" name="password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">First Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.firstName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Last Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.lastName}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.email}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone Number:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.phoneNumber}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address Line 1:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.addressLine1}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Address Line 2:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.addressLine2}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">City:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.city}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">State:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.state}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{customer.zipCode}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>